*~
.settings
.buildpath
.project
/composer.lock
/composer.phar
/vendor
/logs
/public/bower_components
/modules/auth
/modules/orm
/modules/database
/modules/kohana-email
/modules/kohana-formo
/modules/kohana-routing
/modules/kohana-pagination
/modules/minion
/bin/deploy.sh
/bin/libs
/etc/deploy*
environment
local_environment
